/* @import url(https://fonts.googleapis.com/css?family=Roboto:700);
html,
body {
  background: #0d75ca;
  font-family: Roboto;
} */

.nav-bar {
  grid-row: 1;
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar-text {
  margin-right: 1vw;
}

#home-container {
  display: grid;
  grid-template-rows: 4vh repeat(11, 1fr);
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
  width: 100vw;
}

#user-page-container {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 4vh repeat(11, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.blurred {
  filter: blur(2px);
}

.destination-set {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
}

#user-form-container {
  /* grid-row: 3 / 9;
  grid-column: 4 / 10; */
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  background-color: green;
}

.user-form-text {
  grid-row: 5;
  grid-column: 1/6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#destination-form-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1em;
  height: 2em;
  width: 10em;
  font-size: 2vh;
}

.active,
.button:hover {
  background-color: #666;
  color: white;
}

#toggle-sign-up-button {
  grid-row: 6;
  grid-column: 2/5;
}

#add-tag-button {
  background-color: green;
  height: 2em;
  width: 5em;
}

#logout-button {
  margin-right: 5vw;
  margin-left: 4vw;
}

/* inputs */

.location-search-input {
  width: 20em;
  height: 2em;
  box-sizing: border-box;
  /* border: 2px solid #ccc;
  border-radius: 4px; */
  font-size: 1.5vh;
  background-color: white;
  /* background-image: url("searchicon.png"); */
  /* background-position: 10px 10px; */
  /* background-repeat: no-repeat; */
  /* padding: 12px 20px 12px 40px; */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.location-search-input:focus {
  width: 40em;
}

.destination-card {
  height: 300px;
  width: 200px;
}
